* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000000;
}

.header {
    position: absolute;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 0px 0px 25px 0px;
}

.header a {
    font-size: 25px;
    color: silver;
}

.header img {
    width: 450px;
    height: 450px;
}


.header h1 {
    font-family: "Impact", sans-serif;
    font-size: calc(1vw + 100px); /* Adjust the font size dynamically */    font-weight: 500;
    letter-spacing: -0.05em;
    line-height: 100%;
    color: silver;
}



